
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<style>
    #chart_divHRBPAdmin {
        height: 400px;
    }

        #chart_divHRBPAdmin svg.highcharts-root {
            font-size: 16px !important;
        }

    #bellcurve_hrbpadmin svg.highcharts-root {
        font-size: 16px !important;
    }

    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .modal-popup {
        margin-left: 0px !important;
    }

        .modal-popup .modal-header {
            border-bottom: 0px;
            padding: 5px 10px;
        }

        .modal-popup .modal-footer {
            border-top: 0px;
            padding: 6px 6px 20px;
        }

        .modal-popup .modal-body p {
            text-align: center;
            font-size: 16px;
        }


    .close:hover {
        background: #bbb;
    }

    label.filterAttr {
        width: 100%;
        /*display: flex;
        align-items: center;
        justify-content: space-between;*/
    }


        label.filterAttr .form-control {
            font-size: 11.5px;
        }

        /*label.filterAttr button.multiselect.dropdown-toggle.btn.btn-default:hover {
            transform: scale(1);
        }*/

        label.filterAttr ul.multiselect-container.dropdown-menu {
            max-width: 100% !important;
            width: 100% !important;
            top: 35px !important;
        }


    .col-md-12.filter-top-sec-item1:after {
        content: "";
        position: absolute;
        top: -16px;
        right: 18px;
        margin-left: -6px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #ddd transparent;
    }

    .col-md-12.filter-top-sec-item1 {
        position: relative;
        margin-top: 10px;
        background: #fff;
        padding: 0px 16px 16px;
        display: block;
        width: 100%;
        left: 0;
        top: 0px;
        z-index: 9;
        box-shadow: 0 15px 18px -14px #00000091;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    /*.col-md-12.filter-top-sec-item1 span#close-filter1 {
            position: absolute;
            right: 17px;
            font-size: 20px;
            background: #5650c6;
            color: #fff;
            padding: 5px;
            border-radius: 100%;
            z-index: 9;
        }*/

    .filter-img-sec {
        text-align: right;
    }

        .filter-img-sec #open-filter1 {
            background: #2e84e7;
            color: #fff;
            font-size: 16px;
            border-radius: 4px;
            padding: 4px 4px 0px;
            cursor: pointer;
            height: auto !important;
            border: none;
            outline: none;
            display: none;
        }

        .filter-img-sec #close-filter1 {
            background: #000;
            color: #fff;
            font-size: 16px;
            border-radius: 4px;
            padding: 4px 4px 0px;
            cursor: pointer;
            height: auto !important;
            border: none;
            outline: none;
        }

    /*.multiselect-container.dropdown-menu input[type='radio'] {
        display: none;
    }*/
</style>

<div id="main-wrapper">
    @*<div id="loading-overlay">
            <img src="~/images/loading.gif" alt="Loading..." id="loading-image" />
        </div>*@

    <div class="container-fluid">

        @*<div id="chart_div"></div>*@
        @*<div class="row" id="RatingAppcycleDiv">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Appraisal Cycle :</label>
                        <div class="col-md-3">
                            <select id="ddlRating" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>*@

        <div id="myModalHRBPAdmin" class="modal  bs-modal-lg fade modal-popup" role="dialog">
            <div class="modal-dialog modal-sm" style="width: 50%">

                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="btn blue btn-outline" style="float:right" data-dismiss="modal">Close</button>*@
                        <button type="button" class="btn-close close" style="float:right" data-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                        <div id="bellcurve_hrbpadmin"></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-12">
                <div class="filter-img-sec">
                    <button title="Filter" id="open-filter1"><span class="glyphicon glyphicon-filter"></span></button>
                    <button id="close-filter1"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <div class="col-md-12 filter-top-sec-item1">
                <h5 class="reprt-heading-title"><b>Filters</b></h5>
                <div class="filter-top-item">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="GDLDeptHead filterAttr" style="font-size:11px">
                                <span class="text-label">Approver Span</span>
                                <span><select class="form-control" id="ddlGDLDept_headNorm" multiple="multiple" onchange="filterschangeNorm('GDL');"></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="RMSpan filterAttr" style="font-size:11px">
                                <span class="text-label">Reviewer Span</span>
                                <span><select class="form-control" id="ddlDPSpan_headNorm" multiple="multiple" onchange="filterschangeNorm('DP')"></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="RMSpan filterAttr" style="font-size:11px">
                                <span class="text-label">Inputter Span</span>
                                <span><select class="form-control" id="ddlRMSpan_headNorm" multiple="multiple" onchange="filterschangeNorm('RM');"></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="Grade filterAttr" style="font-size:11px">
                                <span class="text-label"> Grade</span>
                                <span><select class="form-control" multiple="multiple" id="ddlgrade_HRBPAdminNorm" onchange="filterschangeNorm('--');"><option value="0">--select--</option></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="Location filterAttr" style="font-size:11px">
                                <span class="text-label">Location</span>
                                <span><select class="form-control" multiple="multiple" id="ddllocation_HRBPAdminNorm" onchange="filterschangeNorm('--');"><option value="1">India</option><option value="3">US</option><option value="2">Rest Of World</option></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="GroupAccount filterAttr" style="font-size:11px;">
                                <span class="text-label">Group Account</span>
                                <span><select class="form-control" multiple="multiple" id="ddlgroupaccount_HRBPAdminNorm" onchange="filterschangeNorm('--');"><option value="0">--select--</option></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label id="GenderDDL" class="Gender filterAttr" style="font-size:11px;">
                                <span class="text-label">Gender</span>
                                <span><select class="form-control" multiple="multiple" id="ddlgender_HRBPAdminNorm" onchange="filterschangeNorm('--')"><option value="0">--select--</option></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="GroupAccount filterAttr" style="font-size:11px;">
                                <span class="text-label">Employee Status</span><span><select class="form-control" multiple="multiple" id="ddlEmployeeStatus_HRBPAdminNorm" onchange="filterschangeNorm('--')"><option value="0">--select--</option></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label class="DeliveryNorm filterAttr" style="font-size:11px;">
                                <span class="text-label">Delivery/ Non-delivery</span>
                                <span><select class="form-control" multiple="multiple" id="ddlDeliveryStatus_Norm" onchange="filterschangeNorm('--')"><option value="0">--select--</option></select></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label id="Promotion_PNorm" class="promotion filterAttr" style="font-size:11px;">
                                <span class="text-label">Promotion</span>
                                <span><select class="form-control" multiple="multiple" id="ddlPromotion_PNorm" onchange="filterschangeNorm('--');"><option value="3">Eligible</option><option value="4">Not Eligible</option><option value="1">Recommended</option><option value="2">Not Recommended</option></select></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="norm-doc-download-top" style="margin-bottom:10px;">
            <div class="norm-doc-download">
                <div style="text-align: left;">
                    <h5 class="reprt-heading-title"><b>Normalization Overall Details</b></h5>

                </div>             <a style="width:122px;" class="form-control" onclick="tableToExcel('HRBPAdminNormalizationtbl', 'Normalization Overall Details', 'btnAdminNormDownload')" id="btnAdminNormDownload">
                    <i class="fa fa-file-excel-o"></i>
                </a>

            </div>
        </div>
        <table id="HRBPAdminNormalizationtbl" class="table table-striped table-bordered nowrap data-table-main" style="width:100%">
            <tbody>

                <tr>
                    <td colspan="2" class="bluelightShade"></td>
                    <td colspan="4" class="text-center blue-light">Exceeds Expectations (5%)</td>
                    <td colspan="4" class="text-center bluelightShade">Exceeds Expectations (25%)</td>
                    <td colspan="4" class="text-center blue-light">Meets Expectations (60%)</td>
                    <td colspan="4" class="text-center bluelightShade">Below Expectations (10%)</td>
                    <td colspan="4" class="text-center blue-light">TOTAL</td>
                </tr>
                <tr>
                    <td class="bluelightShade">Grade Wise</td>
                    <td class="bluelightShade">Total Nos.</td>
                    <td class="blue-light">Ideal No's</td>
                    <td class="blue-light">Ratings Given</td>
                    <td class="blue-light">Difference</td>
                    <td class="blue-light">%</td>
                    <td class="bluelightShade">Ideal No's</td>
                    <td class="bluelightShade">Ratings Given</td>
                    <td class="bluelightShade">Difference</td>
                    <td class="bluelightShade">%</td>
                    <td class="blue-light">Ideal No's</td>
                    <td class="blue-light">Ratings Given</td>
                    <td class="blue-light">Difference</td>
                    <td class="blue-light">%</td>
                    <td class="bluelightShade">Ideal No's</td>
                    <td class="bluelightShade">Ratings Given</td>
                    <td class="bluelightShade">Difference</td>
                    <td class="bluelightShade">%</td>
                    <td class="blue-light">Ideal No's</td>
                    <td class="blue-light">Ratings Given</td>
                    <td class="blue-light">Difference</td>
                    <td class="bluelightShade">%</td>
                </tr>
            </tbody>
        </table>

        <div class="norm-doc-download-top" style="margin-bottom:10px;">
            <div class="norm-doc-download">
                <div style="text-align: left;">
                    <h5 class="reprt-heading-title"><b>Gender Normalization Details</b></h5>
                </div>
                <a class="form-control" style="width:122px;" onclick="tableToExcel('HRBPAdminNormalizationMaleFemaletbl', 'Normalization Male/Female Details', 'btnMFNormDownload')" id="btnMFNormDownload">
                    <i class="fa fa-file-excel-o"></i>
                </a>

            </div>
        </div>
        <table id="HRBPAdminNormalizationMaleFemaletbl" class="table table-striped table-bordered nowrap data-table-main" style="width:100%">

            <tbody>

                <tr>
                    <td class="bluelightShade"></td>
                    <td colspan="5" class="text-center blue-light">Male</td>
                    <td colspan="5" class="text-center bluelightShade">Female</td>
                    <td colspan="5" class="text-center blue-light">Others</td>
                </tr>
                <tr>
                    <td class="bluelightShade"></td>
                    <td class="text-center blue-light"></td>

                    <td class="text-center blue-light">Exceeds Expectations (5%)</td>
                    <td class="text-center blue-light">Exceeds Expectations (25%)</td>
                    <td class="text-center blue-light">Meets Expectations (60%)</td>
                    <td class="text-center blue-light">Below Expectations (10%)</td>

                    <td class="text-center bluelightShade"></td>
                    <td class="text-center bluelightShade">Exceeds Expectations (5%)</td>
                    <td class="text-center bluelightShade">Exceeds Expectations (25%)</td>
                    <td class="text-center bluelightShade">Meets Expectations (60%)</td>
                    <td class="text-center bluelightShade">Below Expectations (10%)</td>

                    <td class="text-center blue-light"></td>
                    <td class="text-center blue-light">Exceeds Expectations (5%)</td>
                    <td class="text-center blue-light">Exceeds Expectations (25%)</td>
                    <td class="text-center blue-light">Meets Expectations (60%)</td>
                    <td class="text-center blue-light">Below Expectations (10%)</td>
                </tr>

                <tr>
                    <td class="bluelightShade">Grade Wise</td>
                    <td class="text-center blue-light">Total Nos.</td>
                    <td class="text-center blue-light">Ratings Given</td>
                    <td class="text-center blue-light">Ratings Given</td>
                    <td class="text-center blue-light">Ratings Given</td>
                    <td class="text-center blue-light">Ratings Given</td>

                    <td class="text-center bluelightShade">Total Nos.</td>
                    <td class="text-center bluelightShade">Ratings Given</td>
                    <td class="text-center bluelightShade">Ratings Given</td>
                    <td class="text-center bluelightShade">Ratings Given</td>
                    <td class="text-center bluelightShade">Ratings Given</td>

                    <td class="text-center blue-light">Total Nos.</td>
                    <td class="text-center blue-light">Ratings Given</td>
                    <td class="text-center blue-light">Ratings Given</td>
                    <td class="text-center blue-light">Ratings Given</td>
                    <td class="text-center blue-light">Ratings Given</td>
                </tr>

            </tbody>



        </table>
        <div class="row">

            <div class="col-md-12 tblEmpRating-List">
                <table class="table table-borderd tblalignmentset" width="100%" id="tblHRBPAdminEmpMFPercentageList" style="display:none;">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="3" style="width: 14%;">EE (5%)</th>
                            <th colspan="3">EE (25%)</th>
                            <th colspan="3">ME (60%)</th>
                            <th colspan="3">BE (10%)</th>
                            <th colspan="2">Total (Male/Female)</th>
                            <th>Overall</th>
                        </tr>
                        <tr>

                            .
                            <td></td>

                            <td><b>M</b></td>
                            <td><b>F</b></td>
                            <td style="width: 5%;" class="totalcountbg"><b>Total</b></td>

                            <td><b>M</b></td>
                            <td><b>F</b></td>
                            <td class="totalcountbg"><b>Total</b></td>

                            <td><b>M</b></td>
                            <td><b>F</b></td>
                            <td class="totalcountbg"><b>Total</b></td>

                            <td><b>M</b></td>
                            <td><b>F</b></td>
                            <td class="totalcountbg"><b>Total</b></td>

                            <td><b>M</b></td>
                            <td><b>F</b></td>

                            <td class="totalcountbg"><b>Total</b></td>
                        </tr>
                    </thead>

                </table>
            </div>


        </div>
        <div class="row" style="background: #fff;padding-top: 8px;">
            <div style="float:right">
                <a class="form-control" style="width:154px;" onclick="showHRBPAdminBellCurve()" id="showHRBPAdminBellCurve">
                    Generate Bell Curve
                </a>
            </div>
            <div class="col-md-12">
                <div id="chart_divHRBPAdmin"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/PEPScripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <link hre

    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/PEPScripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/PEPScripts/Common.js"></script>
    <script src="~/Scripts/PEPScripts/CommonConfig.js"></script>
    <script src="~/Scripts/PEPScripts/loader.js"></script>
    <script src="~/Scripts/PEPScripts/RatingAppraisalCycleContext.js"></script>
    <script src="~/Scripts/PEPScripts/RatingAdmin.js"></script>
    <script src="~/Scripts/highcharts.min.js"></script>
    <script src="~/Scripts/accessibility.js"></script>
}


