<div class="row pdtop15" id="divDWRpt_Main">
    <div class="col-sm-5 form-horizontal" id="divDWRpt_DU">
        <div class="form-group">
            <label class="col-sm-4 control-label"> GDU/Department: </label>
            <div class="col-sm-8">
                <select id="ddlDWRpt_DU" class="ddlMgrList form-control"></select>
            </div>
        </div>
    </div>
    <div class="col-sm-12 form-group pdtop15">
        <input type="button" value="View Report" class="btn btn-primary" id="btnGetDWRpt" />
        <input type="button" value="Export To Excel" class="btn btn-primary" id="btnExportToExcelDWRpt" />
    </div>
    <div class="col-sm-12">
        <table id="tblDWRpt" class="table tbl-my-team-kra-beh-comp" style="width: 100%;">
            <thead class="cf">
                <tr>
                    <th>GDU/Department</th>
                    <th>Account</th>
                    <th>Employee ID</th>
                    <th>Project Manager</th>
                    <th>Designation</th>
                    <th>Team Size</th>
                    <th>No. Of Team Members Feedback Given to</th>
                    <th>% Of Team Feedback Given to</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
