<div class="container-fluid" style="min-height: 250px;">
    <div class="col-sm-12 col-md-12 col-lg-12 chatBox" style="overflow-y: auto;">
        <div class="col-sm-12">
            <table id="tblDWMSubordinateReport" class="table tbl-my-team-kra-beh-comp" style="width: 100%;">
                <thead class="cf">
                    <tr>
                        <th>Delivery Unit</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
