<div id="divEmailFormat" class="text-center">
    <textarea id="txtbody" class="input-exitXL form-control"></textarea>
    <input type="button" value="Update format" onclick="UpdateEmailFormat();" class="btn btn-primary" style="margin-top:15px" id="btnUpdateEmailFormat" />
</div>