<div class="row pdtop15" id="divEmpStrengthWeakness">

    <div class="col-sm-5" id="divSelectMgr">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Select Manager :</label>
                <div class="col-sm-8">
                    <select id="ddlMgrEmpSW" class="form-control" ></select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5 form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">Select Employee : </label>
            <div class="col-sm-8">
                <select id="ddlEmp" class="form-control"></select>
            </div>
        </div>
    </div>


    <div class="col-sm-12 form-group pdtop15">
        <input type="button" value="View Report" class="btn btn-primary" id="btnGetEmpStrengthWeaknessReport" />
        <input type="button" value="Export To Excel" class="btn btn-primary" id="btnExportToExcelSWReport" />
    </div>

    <div class="col-sm-12">
        <table id="tblEmpStrngthWeakness" class="table tbl-my-team-kra-beh-comp" style="width: 100%;">
            <thead>
                <tr>

                    <th>Employee Code </th>
                    <th>Employee Name </th>

                    <th>Behavioural Competency</th>
                    <th>Strength</th>
                    <th>Development Areas</th>
                    <th>Feedback Not Given</th>
                </tr>
            </thead>
        </table>
    </div>


</div>
