<div class="row pdtop15" id="divManagerFeedbackChart">

    <div class="col-sm-5" id="divSelectMgrFB">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Select Manager :</label>
                <div class="col-sm-8">
                    <select id="ddlMgrMSChart" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 form-group pdtop15">
        <input type="button" value="View Report" class="btn btn-primary" id="btnManagerFeedbackChart" />
        <input type="button" value="Save Image" class="btn btn-primary" id="btnExportToExcelMFBChartReport" />
    </div>

    <div class="col-sm-12" id="divMSchaart_wrapper" style="overflow-x:auto; width:auto">
        <div id="chartFB" style="height: 300px;">

        </div>
    </div>
    <div id="imgChart1"></div>
</div>
