<div class="row pdtop15" id="divRatingCalculation">
        <div class="col-sm-5" id="divSelectRMgr">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Select Manager :</label>
                    <div class="col-sm-8">
                        <select id="ddlMgrRatingCalculation" class="form-control"></select>
                        <img src="~/images/InternetSlowdown_Day.gif" id="imgLoad" style="display:none" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 form-group pdtop15">
            <input type="button" value="Export To Excel" class="btn btn-primary" id="btnRatingCalculationExportToExcel" />
            @*@Html.ActionLink("Export to Excel","GetRatingReport","Report",,)*@
        </div>
</div>

