@* Training Request Report for Manager *@
<div id="divTrainingRequestReportForManager">
    <div class="row pdtop15">
        <div class="col-md-12" id="DivTrainingRequestReportForManager" style="display:none;">
            <input type="button" value="View Report" class="btn btn-primary" id="btnTrainingRequestReportForManager" />
            <input type="button" value="Export To Excel" class="btn btn-primary" id="btnExportToExcelTrainingRequestReportForManager" />
        </div>
        <div class="col-md-12" style="height:30px"></div>
        <div class="col-md-12">
            <table id="tblTrainingRequestReportForManager" class="table tbl-my-team-kra-beh-comp" style="width: 100%;">
                <thead class="cf">
                    <tr>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Training Type</th>
                        <th>Training Name</th>
                        <th>Status</th>
                        <th>Progress Percentage</th>
                        <th>Learning Status</th>
                        <th>Requested By</th>
                        <th>Completion Timeline</th>
                        <th>Requested Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

