@* Training Request Report for Admin *@
<div id="divTrainingRequestReport">
    <div class="row pdtop15">
        <div class="col-md-12" id="DivTrainingRequestReport" style="display:none;">
            <input type="button" value="View Report" class="btn btn-primary" id="btnTrainingRequestReport" />
            <input type="button" value="Export To Excel" class="btn btn-primary" id="btnExportToExcelTrainingRequestReport" />
        </div>
        <div class="col-md-12" style="height:30px"></div>
        <div class="col-md-12">
            <table id="tblTrainingRequestReport" class="table tbl-my-team-kra-beh-comp" style="width: 100%;">
                <thead class="cf">
                    <tr>
                        <th>Training Type</th>
                        <th>Training Name</th>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Learning Status</th>
                        <th>Progress</th>
                        <th>Created Date</th>
                        <th>Completion Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

