<div class="container-fluid" style="min-height:250px;">
    <div class="chatInfo">
        Employee : <span id="spnEmpCode"></span> 
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 chatBox">
        <div class="col-sm-12">
            <table id="tblEmpWeightageBreakDown" class="table tbl-my-team-kra-beh-comp" style="width: 100%;"></table>
        </div>
        <div id="dvFrom">
            <div>
                <input type="hidden" id="hdnFromEmpId" />
                <input type="hidden" id="hdnParentFeedbackId" />
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm" id="dvSendReply">
        <div class="col-sm-12 replyDiv">
            <input type="button" value="Export To Excel" class="btn btn-primary" id="btnWeightageBreakDownExportToExcel" />
        </div>
    </div>
</div>
