
@using EmpPEP.UI.Views.KRA;

<style>
    #tblKRAList th,
    #tblKRAList td {
        text-align: left !important;
    }
</style>

@*<div class="table-responsive" style="height:300px" >*@
<div class="table-responsive">
    <table class="table table-striped tbl-my-kra" id="tblKRAList">
        <thead>
            <tr>
                <th style="display: none">KRAId</th>
                <th>GoalType</th>
                <th>Goal Description</th>
                <th>Weightage</th>
                <th>Measure</th>
                <th>G&OsStartDate</th>
                <th>G&OsEndDate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


