@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* CSS for the loading overlay */

    .loader-div {
        position: fixed;
        margin: 0px;
        padding: 0px;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 30001;
        opacity: 0.8;
    }

    .loader-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .tblalignmentset thead th, .tblalignmentset thead td {
        border: 1px solid #ccc !important;
    }

    .tblalignmentset thead td {
        background-image: none !important;
    }

    .tblalignmentset thead th, #tblEmpPromotion thead td {
        border: 1px solid #ccc !important;
        text-align: center;
    }

    .tblalignmentset thead td {
        background-image: none !important;
    }




    div#tblEmpRatingList_wrapper {
        margin-bottom: 10px;
    }

    .tblalignmentset tr td {
        border: 1px solid #ccc;
        text-align: center;
        padding: 4px;
    }

        .tblalignmentset tr td:nth-child(1) {
            text-align: left;
        }

    #tblEmpRatingList thead tr th {
        background-image: none;
        vertical-align: middle;
        text-align: center;
    }

    #tblEmpRatingList tbody tr td {
        vertical-align: middle;
    }

    td.totalcountbg {
        background: #1870d554;
    }

    .data-table-main {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 11px !important;
        font-weight: normal;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }

        table.dataTable.nowrap th, table.dataTable.nowrap td, .data-table-main th, .data-table-main td {
            padding: 5px;
            white-space: inherit !important;
            word-wrap: normal !important;
        }

    .drk-blue {
        background: #643eb9;
        color: #fff;
    }

    .blue-light {
        background: #2f2b28;
        color: #fff;
    }

    .bluelightShade {
        background: #5e5651;
        color: #fff;
    }



    .lt-blue {
        background: #3392ed;
    }

    .md-dark-blue {
        background: #8EA9DB;
    }

    .diffcol {
        background: #fd5252;
    }

    .orange {
        background: #F4B084;
    }

    .red {
        background: #f55858;
    }

    .lightgreen {
        background: #52c34b;
    }

    .yellow {
        background: #FFD966;
    }

    .gr-bg {
        background: #BFBFBF;
    }

    .green {
        background: #7ab750;
    }

    .lt-lt-blue {
        background: #D9E1F2;
    }

    .lt-md-dark-blue {
        background: #8EA9DB;
    }

    .lt-orange {
        background: #FCE4D6;
    }

    .lt-yellow {
        background: #FFF2CC;
    }

    .lt-gr-bg {
        background: #EDEDED;
    }

    .lt-green {
        background: #E2EFDA;
    }

    .multiselect-container > li > a > label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        padding: 1px 20px 1px 40px !important;
        font-size: 12px;
    }

        .multiselect-container > li > a > label input[type="checkbox"] {
            height: 10px;
            width: 10px;
        }

    label.filterAttr button.multiselect.dropdown-toggle.btn.btn-default {
        width: 100% !important;
        max-width: 100% !important;
        height: 34px;
        padding: 6px 12px;
        font-size: 11px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

        label.filterAttr button.multiselect.dropdown-toggle.btn.btn-default.btn:hover {
            transform: inherit !important;
        }

    label.filterAttr .form-control {
        cursor: pointer;
    }

    label.filterAttr .btn-group {
        width: 100%;
    }


    span.text-label {
        display: block;
        width: 100%;
    }

    label.filterAttr {
        width: 100%;
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;*/
    }

    .dataTables_info {
        font-size: 11px;
    }

    .dataTables_paginate a.paginate_button {
        font-size: 11px;
    }

    .norm-doc-download a.form-control {
        font-size: 16px;
        height: auto;
        width: auto !important;
        background: #4fbc48;
        color: #fff;
        cursor: pointer;
        padding: 2px 2px 0px;
    }

    div#main {
        position: relative;
    }

    #tblEmpRatingList tr td textarea {
        font-size: 11px;
    }

    span.multiselect-selected-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        max-height: 32px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    li.multiselect-item.multiselect-filter .input-group span.input-group-btn .multiselect-clear-filter i.glyphicon.glyphicon-remove-circle {
        top: 2px;
        color: #fff;
    }

    li.multiselect-item.multiselect-filter .input-group span.input-group-btn .multiselect-clear-filter {
        padding: 7px 4px;
    }

    li.multiselect-item.multiselect-filter .input-group span.input-group-addon {
        padding: 2px;
    }

    li.multiselect-item.multiselect-filter input.form-control.multiselect-search {
        border: 1px solid #ccc;
        border-right: 0px;
        padding: 4px;
    }

    .dataTables_length label {
        font-size: 12px;
        color: #696a6b;
        padding-top: 7px;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .ReporteeSingleSelect .multiselect-container > li > a > label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        // padding: 1px 20px 1px 15px !important;
        font-size: 12px;
    }

    .dataTables_filter label {
        font-size: 12px;
        color: #696a6b;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }

    .dataTables_filter input[type="search"] {
        border-radius: 4px;
        padding: 3px 5px;
        color: rgba(0, 0, 0, 1);
        border: 1px solid #ccc;
        margin-left: 5px;
    }

    #currRole span.text-label {
        width: max-content;
    }

    ul#RatingsTabs li a {
        padding: 10px 5px !important;
    }

    #tblEmpRatingList tbody tr td .CurrPromotion select.rating {
        width: 45px !important;
    }

    #tblEmpRatingList tbody tr td .CurrRating select.rating {
        width: 62px !important;
    }

    #tblEmpRatingList thead tr th.ThCurrrating {
        width: 5% !important;
    }

    #tblEmpRatingList thead tr th.ThCurrrentPromotion {
        width: 5% !important;
    }
</style>




<div id="main-wrapper">
    <div id="main">
        <div class="row pg-main-title">
        </div>
        @*@{
                <div>
                    <select class="form-control" style="width:20%;margin-top: 15px;" id="ddlyear"></select>
                </div>

            }*@

        <div class="row">
            <div class="col-md-7">
                <ul class="nav nav-tabs" id="RatingsTabs">
                    <li id="" class="active"><a href="#tab_InsertRatingTable" data-toggle="tab">Rating And Promotion Insertion</a></li>
                    @*<li id="" class=""><a href="#tab_ImmediateReporteeRatingTable" onclick="MyReporteeBellCurve()" data-toggle="tab">My Immediate Reportees Insertion View</a></li>*@

                    <li id="" class=""><a href="#tab_RatingTable" onclick="BindNormalizationView();" data-toggle="tab">Normalization</a></li>
                    <li id="" class=""><a href="#tab_RatingGraph" onclick="bindChart();" data-toggle="tab">Promotions</a></li>
                    <li id="" class=""><a href="#tab_RatingNormPracticeView" id="anchor_tab_RatingNormPracticeView" data-toggle="tab" style="display:none;">Normalization - Studio View</a></li>
                    <li id="" class=""><a href="#tab_RatingPracticeView" id="anchor_tab_RatingPracticeView" data-toggle="tab" style="display:none;">Promotion - Studio View</a></li>


                    @*<li id="" class=""><a href="#tab_ApprovedReporteeListView" data-toggle="tab" style="display:none;">Approved Rating & Promotions</a></li>*@
                    @*<li id=""><a href="#tab_HrAdmin" data-toggle="tab">HR-Admin View</a></li>*@

                </ul>
            </div>
            <div class="col-md-5">
                <div class="row" style="display: flex; align-items: center; justify-content: flex-end; margin-top: 8px;">
                    <div col-md-8>
                        <div id="ViewStudio" style="padding:15px 0px;display:none;">
                            <span> Studio -</span>
                            <a style="background: #f0f0f0; border-radius: 5px;padding:5px 10px" id="StudioView" href="http://localhost:53460/RatingStudio/Index">View</a>
                        </div>
                        @*<div id="RatingStatusDetail" style="padding:15px 0px;display:none">
                                <span> Total Span -</span>
                                <span class="filterAll" style="background: #f0f0f0; border-radius: 5px;padding:5px 10px">Rating Given [<span id="spnRatingGiven"></span>]</span>
                                <span class="filterAll" style="background: #f0f0f0; border-radius: 5px;padding:5px 10px">Rating Not Given [<span id="spnRatingNotGiven"></span>]</span>
                            </div>*@
                    </div>
                    <div class="col-md-4">
                        <label id="currRole" style="font-size: 12px; display: flex; align-items: center;">
                            <span class="text-label">Role</span>
                            <span style="display: block; width: 90%; margin-left: 10px;">
                                <select class="form-control" id="ddlRole">
                                </select>
                            </span>
                        </label>
                    </div>

                    @*<div style="text-align:right;padding-right:20px">
                            <h5 id="currRole" style="font-size:15px;padding:5px 0px"> Role: <span id="spnRole" style="font-weight:bold"></span></h5>
                        </div>*@
                </div>
            </div>

        </div>


        <div class="tab-content form-group">

            <div class="tab-pane active" id="tab_InsertRatingTable">
                <div class="panel-group" id="Insertccordionself">
                    <div class="panel panel-default" id="panelSelf">
                        <div id="collapseInsert" class="panel-collapse collapse in">
                            <div class="panel-body" id="dvInsertRating">
                                @{Html.RenderPartial("_RatingInsertion");}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @*<div class="tab-pane" id="tab_ImmediateReporteeRatingTable">
                    <div class="panel-group" id="Graphaccordionself15">
                        <div class="panel panel-default" id="panelSelfMyReportee">
                            <div id="collapseSelf11" class="panel-collapse collapse in">
                                <div class="panel-body" id="dvContent11">
                                    @{Html.RenderPartial("_RatingMyReportee");}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>*@

            <div class="tab-pane" id="tab_RatingTable">
                <div class="panel-group" id="Graphaccordionself">
                    <div class="panel panel-default" id="panelSelf">
                        <div id="collapseSelf11" class="panel-collapse collapse in">
                            <div class="panel-body" id="dvMyKraContent11">
                                @{Html.RenderPartial("_RatingTabularView");}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tab_RatingGraph">
                <div class="panel-group" id="graphaccordionself1">
                    <div class="panel panel-default" id="panelSelf">
                        <div class="panel">
                            <div class="panel-body">
                                @{Html.RenderPartial("_RatingGraphicalView");}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tab_RatingNormPracticeView">
                <div class="panel-group" id="graphaccordionself20">
                    <div class="panel panel-default" id="panelSelf20">
                        <div class="panel">
                            <div class="panel-body">
                                @{Html.RenderPartial("_RatingNormPracticeView");}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tab_RatingPracticeView">
                <div class="panel-group" id="graphaccordionself15">
                    <div class="panel panel-default" id="panelSelf15">
                        <div class="panel">
                            <div class="panel-body">
                                @{Html.RenderPartial("_RatingPracticalView");}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tab_ApprovedReporteeListView">

                <div class="panel-group" id="Graphaccordionself15">

                    <div class="panel panel-default" id="panelSelfMyReportee">

                        <div id="collapseSelf11" class="panel-collapse collapse in">

                            <div class="panel-body" id="dvContent11">

                                @{Html.RenderPartial("_RatingApprovedReportee");}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div><!-- tab content -->
    </div>
</div>
<div class="loader-div">
    <img class="loader-img" alt="Please Wait Data Loading..." src="../images/ajax-loader.gif" style="height: 120px;width: auto;" />
</div>
<input type="hidden" id="hdnSelectedFeedbackTab" />

@section scripts{

    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script src="~/Scripts/PEPScripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/PEPScripts/Common.js"></script>
    <script src="~/Scripts/PEPScripts/CommonConfig.js"></script>
    <script src="~/Scripts/PEPScripts/loader.js"></script>
    <link href="~/Scripts/PEPScripts/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/PEPScripts/bootstrap-multiselect.min.js"></script>
    <script>
        $(document).ready(function () {
            // Initialize GlobalAppConfig and replace organization name in headers
            //GlobalAppConfig.init(function () {
            //    var orgshortName = GlobalAppConfig.getShortOrgName();
            //    if (orgshortName) {
            //        // Replace "Infogain" in all <th> elements (table headers)
            //        $('th').each(function () {
            //            var headerText = $(this).html();
            //            // Use regex to replace all instances of "Infogain" (case-insensitive)
            //            // This will handle "Infogain", "Infogain1", etc.
            //            var updatedText = headerText.replace(/Infogain\d*/gi, orgshortName);
                        
            //            $(this).html(updatedText);
            //        });

            //        // Also replace in table headers of hidden tables
            //        $('#tblFilteredData th, #tblUnsavedData th').each(function () {
            //            var headerText = $(this).html();
            //            var updatedText = headerText.replace(/Infogain\d*/gi, orgshortName);
            //            $(this).html(updatedText);
            //        });
            //    }
            //});

        });
    </script>
    <!-- Select2 for searchable dropdowns - must load before Ratings.js -->
    <link href="~/Scripts/PEPScripts/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/PEPScripts/select2.min.js"></script>
    <script src="~/Scripts/PEPScripts/RatingAppraisalCycleContext.js"></script>
    <script src="~/Scripts/PEPScripts/Ratings.js"></script>
    <script src="~/Scripts/highcharts.min.js"></script>
    <script src="~/Scripts/accessibility.js"></script>
}
