@{
    Layout = null;
}


<div class="container-fluid" style="min-height:400px;">

    <div class="row">
        <div class="col-md-12">
            <h3>Account Page</h3>
        </div>
    </div>
</div>