<div class="bottom-padding">
    <table id="tblManagerFeedbackBCList" cellspacing="0" width="100%" class="table tbl-my-team-kra-beh-comp">
        <thead>
            <tr>
                <th class="col-md-2">Competencies</th>
                <th class="col-sm-1">Expected</th>
                <th class="col-sm-1">Actual</th>
                <th class="col-md-2">RM's Feedback</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="col-md-12 bottom-padding" style="text-align:right">
    <input type="button" id="btnSaveDraft" class="btn btn-primary" value="Save as Draft">
    <input type="button" id="btnSubmitBC" class="btn btn-primary" value="Submit">
    <input type="button" class="btn btn-primary" value="View Feedback" onclick="fnShowFeedbackOtherModal();">
</div>
