<div class="bottom-padding">

</div>
<div class="clearfix"></div>
<div class="col-md-12 bottom-padding" style="text-align:right">
    <input type="button" id="btnSubmitEditableKRA" class="btn btn-primary" value="Submit">
</div>