<div class="bottom-padding">
    @*<table id="tblManagerFeedbacSkipLevel" cellspacing="0" width="100%" class="table tbl-my-team-kra-beh-comp">
            <thead>
                <tr>
                    <th class="col-md-2">Feedback</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>*@

    <div id="tblManagerFeedbacKRASkipLevel">
        <textarea id="skiplevelfeedbackKRA" lass="form-control" maxlength="800" style="margin: 0px;  width: 530px;height: 149px;"></textarea>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 bottom-padding" style="text-align:right">
    <input type="button" id="btnSubmitSkipLevelKRA" class="btn btn-primary" value="Submit">
</div>
