<div class="bottom-padding">
    <div style="margin-bottom: 15px; text-align: right;">
        <a href="javascript:void(0);" id="lnkViewRRAndTraining" class="btn btn-info" style="margin-bottom: 10px;">
            <i class="glyphicon glyphicon-list-alt"></i> View Recognition Received / Training Status
        </a>
    </div>
    <table class="table tbl-my-team-kra" width="100%" id="tblManagerFeedbackKRAList">
        <thead>
            <tr>
                <th>KRAId</th>
                <th>Goal Type</th>
                <th>Goal Description</th>
                <th>Weightage</th>
                <th>Measures</th>
                <th>Self Assessment</th>
                @*<th>Rating</th>*@
                @*<th>RM's Feedback</th>*@
            </tr>
        </thead>

    </table>
</div>
<div class="clearfix"></div>
<div class="col-md-12 bottom-padding text-center" id="BtnFeedbackSaveSubmit" style="display:none;">
    <input type="button" id="btnKRASaveDraft" class="btn btn-primary" value="Save" style="margin-right:5px;">
    <input type="button" id="btnSubmitKRA" class="btn btn-primary" value="Submit" style="margin-right:100px">

</div>


<style type="text/css">
    .csstxtarea {
        width: 100%;
        border: 2px solid #e51313 !important;
    }
</style>