<table class="table table-striped tbl-my-kra" id="tblFeedbackGivenOther" style="width:100%;">
    <thead>
        <tr>
            <th>To Employee</th>
            <th>Feedback</th>
            <th>Date</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>