<table class="table table-striped tbl-my-kra" id="tblFeedbackBySkipLevelManager" style="width:100%;">
    <thead>
        <tr>
            <th>From FeedBack</th>
            <th>Feedback</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<input type="hidden" id="hdnManagerId" />
