<table class="table table-striped tbl-my-kra" id="tblFeedbackGivenKRA" style="width:100%;">
    <thead>
        <tr>
            <th style="width: 10%;">To Employee</th>
            <th style="width: 19%;">Key Responsibility Area (KRA)</th>
            <th style="width: 15%;">Key Performance Indicators (KPIs)</th>
            <th id="thFeedbackGivenActionPlan" style="width: 13%;">Action Plan</th>
            <th style="width: 14%;">Self Assessment</th>
            <th style="width: 17%;">Feedback</th>
            <th style="width: 12%;">Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="col-md-12 bottom-padding panel-body" style="text-align:center ;display:none;">
    <input type="button" id="btnUpdateEditableKRA" class="btn btn-primary" value="Update">
</div>