<table class="table table-striped tbl-my-kra" id="tblFeedbackRequestPending" style="width:100%;">
    <thead>
        <tr>
            <th>From Employee</th>
            <th>Feedback</th> 
            <th>Date</th>           
            <th>View</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>