<table class="table table-striped tbl-my-kra" id="tblMySelfassessment" style="width:100%;">
    <thead>
        <tr>
            <th>
                Key Responsibility Area (KRA)
            </th>
            <th>
                Key Performance Indicators (KPIs)
            </th>
            <th>Self-Assessment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>