
<div class="container-fluid" style="min-height: 250px;">
    <div class="form-horizontal">
        <div class="form-group form-group-sm">
            <div class="col-sm-12">
            </div>
            <div class="col-sm-4" id="divTeamMemberFBStats">
            </div>
            <div class="col-sm-4">
                <label>Pie Chart</label>
            </div>
            <div class="col-sm-4">
                <label>Subordinate List</label>
                <div class="pre-scrollable" id="divMgrSubordinateList">
                </div>
            </div>
            
        </div>
    </div>
</div>