
<div class="table-responsive" id="divSubordinateList">
    <div class="form-inline">
        <label class="form-label control-label" style="padding-top:7px; margin-right:5px">Search Employee: </label>
        <input type="text" style="width:20%" class="form-control rounded ui-autocomplete"  onkeyup="RemoveScript('searchEmpKRA');" id="searchEmpKRA" placeholder="Search for employee" />
        <input type="hidden" id="hdnsearchEmpKRA" name="ToEmployeeId" />
    </div>
</div>
<br />
<div class="alert alert-success display-hide" style="display: none;" id="divValidationAlert_Team"></div>
