    <table class="table table-striped tbl-my-kra dataTable no-footer" id="tblStrenghtWeakness">
        <thead>
            <tr>
                <th>Your Strength and Development Areas</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="row table-legends">
        <div class="col-md-12 col-lg-12 col-sm-12 legend-div text-right">
            <span class="legend-icon icon-strength"></span><span class="legend-text">Strength</span>
            <span class="legend-icon icon-weakness"></span><span class="legend-text">Development Areas</span>
            <span class="legend-icon icon-reply"></span><span class="legend-text">Feedback Not Given</span>
        </div>
    </div>

