<table class="table tbl-danger" id="tblKRANotApproved">
    <thead>
        <tr>
            <th colspan="5"></th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="2" style="font-weight: bold;">No of Employees:<span id="myEmpsCountNotApproved"></span></td>
            <td colspan="3">
                <a class="text-right" id="KRANotApprovedkViewAll_hrefhidden" href="javascript:void(0);" style="display:none">View All</a>
                <a class="text-right" id="KRANotApprovedkViewAll" href="javascript:void(0);">View All</a>

            </td>
        </tr>
    </tfoot>
</table>
@*<div class="text-right">

    </div>*@
