<table class="table tbl-Yellow" id="tblSelfAssessment">
    <thead id="tblSelfAssessment_head">
        
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="font-weight: bold;">No of Employees:<span id="myEmpsCountSelfAssesment"></span></td>
            
            <td colspan="1" style="text-align:right;">
                <a class="text-right" id="EmployeeselfassessmentViewAll_hrefHidden" href="javascript:void(0);" style="display:none">View All</a>
            <a id="EmployeeselfassessmentViewAll_href" href="javascript:void(0);">View All</a>
            </td>
        </tr>
    </tfoot>
</table>
@*<div class="text-right">

    </div>*@