<div>
    <div>
        <div id="divEmpChart"></div>
    </div>
    @*<div id="divEmpChart_legends" class="col-md-4">
        <table class="jqplot-table-legend">
            <tbody>
            </tbody>
        </table>
    </div>*@
</div>