<table class="table tbl-danger" id="tblKRANotSubmitted">
    <thead>
        <tr>
            <th colspan="5"></th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="font-weight: bold;">No of Employees:<span id="myEmpsCountNotsubmitted"></span></td>
            <td colspan="1">
                <a class="text-right" id="KRANotSubmittedViewAll_hrefhidden" href="javascript:void(0);" style="display:none">View All</a>
                <a class="text-right" id="KRANotSubmittedViewAll" href="javascript:void(0);">View All</a>

            </td>
        </tr>
    </tfoot>
</table>
@*<div class="text-right">

    </div>*@