<table class="table tbl-warning" id="tblFeedbackLessThan">
    <thead>
        <tr>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Employee</td>
            <td>Goals & Objectives</td>

            @*Commented for hide behavioural competencies start*@
            @*<td>Competencies</td>*@
            @*Commented for hide behavioural competencies end*@
        </tr>

    </tbody>
</table>
<div class="text-right">
    <a class="text-right" href="~/Dashboard/ViewAll?Id=2">View All</a>
</div>