<table class="table tbl-success" id="tblFeedbackGtThan">
    <thead id="tblFeedbackGtThan_head">
        @*<tr>
            <th colspan="3"></th>
        </tr>*@
    </thead>
    <tbody>
        <tr>

            @*Commented for hide behavioural competencies start*@
            @*<td>Competencies</td>*@
            @*Commented for hide behavioural competencies end*@
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" style="font-weight: bold;">No of Employees:<span id="myEmpsCountGtThan"></span></td>
            <td colspan="1">
                <a class="text-right" id="tblFeedbackGtThan_hrefhidden" href="javascript:void(0);" style="display:none">View All</a>
                <a class="text-right" id="tblFeedbackGtThan_href" href="javascript:void(0);">View All</a>
            </td>
        </tr>
    </tfoot>
</table>
@*<div class="text-right">


  
</div>*@
