
<table class="table tbl-danger" id="tblFeedbackNotGiven">
    <thead id="tblFeedbackNotGiven_head">
        @*<tr>
            <th colspan="3"><h5>Feedback not Given</h5></th>

        </tr>*@
    </thead>
    <tbody>
        <tr>

            @*Commented for hide behavioural competencies start*@
            @*<td>Competencies</td>*@
            @*Commented for hide behavioural competencies end*@
        </tr>

    </tbody>
    <tfoot>
   
        <tr>
            <td colspan="2" style="font-weight: bold;">No of Employees:<span id="myEmpsCountfeednotgiven"></span></td>
            <td colspan="1">
                <a class="text-right" id="tblFeedbackNotGiven_hrefhidden" href="javascript:void(0);" style="display:none">View All</a>
                <a class="text-right" id="tblFeedbackNotGiven_href" href="javascript:void(0);">View All</a>
            </td>
        </tr>
    </tfoot>
</table>
@*<div class="text-right">

    </div>*@

