
    <table class="table tbl-my-team-awards" id="tblMyEmployees">
        <thead>
            <tr>
                <th>
                    My Employee's List <span id="myEmpsCount"></span>
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody id="tbodyMyEmployees"></tbody>
    </table>
