
<table class="table tbl-Yellow" id="tblMyEmployeesSkipLevel">
    <thead id="tblEmployeesSkipLevel_head">
       
    </thead>
    <tbody>

        <tr></tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" style="font-weight: bold;">No of Employees:<span id="myEmpsCountSkipLevel"></span></td>
        </tr>
    </tfoot>
</table>
