<table class="table tbl-my-team-awards" id="tblMyTeamAwrds">
    <thead>
        <tr>
            <th>My Team Awards <span id="myTeamCount"></span></th>
            <th></th>
            
          </tr>
    </thead>
    <tbody id="tbodyTeamAwards"></tbody>
</table>