

<table class="table tbl-success" id="tblPIPSummary">
    <thead id="tblPIPSummary_head">

    </thead>
    <tbody>
        <tr></tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
        </tr>
    </tfoot>
</table>