<table class="table tbl-my-team-kra" width="100%" id="tblViewAvgRatingKRA">
    <thead>
        <tr>
            <th>Goal Description</th>
            <th>Measures</th>
            <th>Self Assessment</th>
            <th>Feeback</th>
            <th>Feedback Date</th>
        </tr>
    </thead>

</table>