<table class="table" id="tblFeedbackAll">
    <thead>
        <tr>
            <th colspan="2">Heading will come</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*Commented for hide behavioural competencies start*@
            @*<td>Competencies</td>*@
            @*Commented for hide behavioural competencies end*@

        </tr>
    </tbody>
</table>
