<table id="tblViewAvgRatingBC"  width="100%" class="table tbl-my-team-kra-beh-comp">
    <thead>
        <tr>
            <th class="col-md-1">Competencies</th>
            <th class="col-md-1">Expected</th>
            <th class="col-md-1">Actual Avg Rating</th>
            
        </tr>
    </thead>
    <tbody></tbody>
</table>
